.homeHeader{
    width: 100%;
    height: 35vh;
    /* background-color: black; */
    color: white;
    font-size: 30px;
     display: flex;
     align-items: center;
    justify-content: center;
    background: url("../../../assets/ההרצאה\ ..._600x353-r\(2\)\(1\).png");
    background-size: 100%;
    background-position: 0 57%;
}